<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>shuttle-rs</string>
	<key>CFBundleIconFile</key>
	<string>shuttle.icns</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.fitztrev.shuttle-rs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Shuttle</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.6.2</string>
	<key>CFBundleVersion</key>
	<string>0.6.2</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Shuttle needs Automation privileges in Security &amp; Privacy to run AppleScripts.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Trevor Fitzgerald. Rust port and modern terminal support 2026 Philip Brembeck..</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
